<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  {# Favicon #}
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}" />
  <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}" />

  {% block script %}{% endblock %}

</head>

<body>

  <header>
    <h1>{% block header %}{% endblock %}</h1>
  </header>

  {% block nav %}
  {# Navigation Bar #}
  <nav>
    <ul>
      <li><a href="/index">Index</a></li>
      <li><a href="/courses">Courses & Prerequisites</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/student-term-plans">Student Term Plans</a></li>
      <li><a href="/students">Students</a></li>
    </ul>
  </nav>
  {% endblock %}

  <main>
    {% block main %}{% endblock %}
  </main>

</body>

</html>