<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>

  <header>
    <h1>Index</h1>
  </header>

  <main>
    <section>
      <h2>Pages</h2>
      <ul>
        <li>
          <h3><a href="/courses">/courses</a></h3>
          <p>Shows the details of each college course and its associated prerequisites. Has option to add new course.</p>
        </li>
        <li>
          <h3><a href="/terms">/terms</a></h3>
          <p>Shows the details of each academic term. Has option to add new term.</p>
        </li>
        <li>
          <h3><a href="/student-term-plans">/student-term-plans</a></h3>
          <p>Shows all student term plans, the student each is associated with, and the courses included in the plan. Has option to add new plan.</p>
        </li>
        <li>
          <h3><a href="/students">/students</a></h3>
          <p>Shows all students. Has option to add new student, delete a student record, or update a student record.</p>
        </li>
    </section>
  </main>

</body>
</html>