<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Term Plans</title>

  {# Favicon #}
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}" />  
  <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}" />

  <script>
    document.addEventListener("DOMContentLoaded", function () {

      // //////// //
      // FUNCTION //
      // //////// //
      // Handle toggling page from viewing student_term_plans to adding a student_term_plan and back
      //TODO uncomment line below for final submission 
      //document.getElementById("add_student_term_plan_button").addEventListener("click", toggleStudentTermPlanForm);
      document.getElementById("cancel_add_student_term_plan_button").addEventListener("click", toggleStudentTermPlanForm);
      function toggleStudentTermPlanForm() {
        const view_student_term_plans_section = document.getElementById("view_student_term_plans_section");
        const add_student_term_plan_section = document.getElementById("add_student_term_plan_section");

        if (view_student_term_plans_section.style.display === "block") {
          view_student_term_plans_section.style.display = "none";
          add_student_term_plan_section.style.display = "block";

        } else {
          view_student_term_plans_section.style.display = "block";
          add_student_term_plan_section.style.display = "none";
        }
      };

      // //////// //
      // FUNCTION //
      // //////// //
      // Handle add new student_term_plan form submission
      document.getElementById("add_student_term_plan_form").onsubmit = addStudentTermPlan;

      async function addStudentTermPlan(event) {
        // Prevent page from refreshing
        event.preventDefault();

        // Instantiate FormData object
        const formData = new FormData(event.target);
        // Initialize data object. This will be built below
        const data = {};

        // Iterate through each key value pair from formData
        formData.forEach((value, key) => {
          // Course ID array needs to be constructed
          if (key === "student_term_plan_course_ids") {
            // Create empty student_term_plan_course_ids array if not already included in data object
            if (!data[key]) {
              data[key] = [];
            }
            // Push student_term_plan ID to student_term_plan_course_ids array
            data[key].push(value);

            // All non-student_term_plan keys can be pushed directly as separate data object properties
          } else {
            data[key] = value;
          }
        });
        // Logging to console for debugging purposes
        console.log(data);
      };
    });

  </script>

</head>

<body>

  <header>
    <h1>Student Term Plans</h1>
  </header>

  {# Navigation Bar #}
  <nav>
    <ul>
      <li><a href="/index">Index</a></li>
      <li><a href="/courses">Courses & Prerequisites</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/student-term-plans">Student Term Plans</a></li>
      <li><a href="/students">Students</a></li>
    </ul>
  </nav>

  <main>

    {# View All Course Section #}
    <section id="view_student_term_plans_section" style="display: block;">
      <h3>View All Student Term Plans</h3>
      {# TODO uncomment this line for final submission <button id="add_student_term_plan_button" type="button">Add New Student Term Plan</button> #}
      <table>
        <tr>
          <th>Plan ID</th>
          <th>Student ID</th>
          <th>Student Name</th>
          <th>Term</th>
          <th>Courses</th>
          <th>Advisor Approved</th>
          <th>Update or Delete Student's Courses</th>
        </tr>
        {% for student_term_plan in student_term_plans %}
        <tr>
          <td>{{ student_term_plan["studentTermPlanID"] }}</td>
          <td>{{ student_term_plan["studentID"] }}</td>
          <td>{{ student_term_plan["studentName"] }}</td>
          <td>{{ student_term_plan["termName"] }}</td>
          <td>{{ student_term_plan["courses"].replace(', ', ', <br>')|safe }}</td>
          <td>{{ student_term_plan["advisorApproved"] }}</td>
          {# TODO: Add functionality to this button #}
          <td><button id="edit_student_term_plan_courses_button" type="button">Edit</button></td>
        </tr>
        {% endfor %}
      </table>
    </section>

    {# Add New Term Plan Section #}
    {# TODO uncomment this line and delete line below for final submission <section id="add_student_term_plan_section" style="display: none;"> #}
    <hr><section id="add_student_term_plan_section" style="display: block;">
      <h3>Add New Student Term Plan</h3>
      <form id="add_student_term_plan_form">

        {# Student #}
        <label for="student_term_plan_student">Student</label><br>
        <select name="student_term_plan_student" id="student_term_plan_student" aria-label="Student" required>
          <option value="" disabled selected>Select a student</option>

          {% for student in students %}
          <option value={{ student["studentID"] }}>{{ student["student"] }}</option>
          {% endfor %}

        </select><br>

        {# Term #}
        <label for="student_term_plan_term">Term</label><br>
        <select name="student_term_plan_term" id="student_term_plan_term" aria-label="Term" required>
          <option value="" disabled selected>Select a term</option>

          {% for term in terms %}
          <option value={{ term["termID"] }}>{{ term["name"] }}</option>
          {% endfor %}

        </select><br>

        {# Advisor Approved #}
        <p>Advisor Approved</p>
        <label>
          <input type="radio" name="student_term_plan_advisor_approved" value=1>Yes
        </label><br>
        <label>
          <input type="radio" name="student_term_plan_advisor_approved" value=0>No
        </label><br>

        {# Courses #}
        <p>Courses</p>
        {% for course in courses %}
        <label>
          <input type="checkbox" name="student_term_plan_course_ids" value={{ course["courseID"] }}> {{ course["course"]
          }}
        </label><br>
        {% endfor %}

        {# Submit and Cancel Buttons #}
        <button id="submit_add_student_term_plan_button" type="submit">Submit</button><br>
        <button id="cancel_add_student_term_plan_button" type="button">Cancel</button>
      </form>
    </section>

    {# Update or Delete Student's Courses in Student Term Plan #}
    {# TODO remove temp <hr> tag below once form is dynamically shown for final submission #}
    <hr><section id="edit_student_term_plan_courses_section">
      <h3>Update or Delete Student Term Plan's Courses</h3>
      <p>April Wang's Spring 2024 Term</p>
      <button id="cancel_edit_student_term_plan_courses_section" type="button">Cancel</button>
      <table>
        <tr>
          <th>Course</th>
          <th>Update</th>
          <th>Submit Change</th>
          <th>Delete</th>
        </tr>
        {# TODO: Make this update dynamically #}
        <tr>
          <td>CS162 INTRODUCTION TO COMPUTER SCIENCE II</td>
          <td>
            <select name="student_term_plan_update_course" id="student_term_plan_update_course"
              aria-label="Change Course">
              <option value="" disabled selected>Select a new course</option>
              <option value="cs161">CS161 INTRODUCTION TO COMPUTER SCIENCE I</option>
              <option value="cs162">CS162 INTRODUCTION TO COMPUTER SCIENCE II</option>
              <option value="cs166">CS166 INTRODUCTION TO JAVA (Proposed)</option>
              <option value="cs225">CS225 DISCRETE STRUCTURES IN COMPUTER SCIENCE</option>
              <option value="cs261">CS261 DATA STRUCTURES</option>
              <option value="cs271">CS271 COMPUTER ARCHITECTURE AND ASSEMBLY LANGUAGE</option>
          </td>
          <td><button id="submit_student_term_plan_update_course" type="submit">Submit</button></td>
          <td><button id="delete_student_term_plan_course" type="button">Delete</button></td>
        </tr>
        <tr>
          <td>CS225 DISCRETE STRUCTURES IN COMPUTER SCIENCE</td>
          <td>
            <select name="student_term_plan_update_course" id="student_term_plan_update_course"
              aria-label="Change Course">
              <option value="" disabled selected>Select a new course</option>
              <option value="cs161">CS161 INTRODUCTION TO COMPUTER SCIENCE I</option>
              <option value="cs162">CS162 INTRODUCTION TO COMPUTER SCIENCE II</option>
              <option value="cs166">CS166 INTRODUCTION TO JAVA (Proposed)</option>
              <option value="cs225">CS225 DISCRETE STRUCTURES IN COMPUTER SCIENCE</option>
              <option value="cs261">CS261 DATA STRUCTURES</option>
              <option value="cs271">CS271 COMPUTER ARCHITECTURE AND ASSEMBLY LANGUAGE</option>
              <option value="none">None</option>
          </td>
          <td><button id="submit_student_term_plan_update_course" type="submit">Submit</button></td>
          <td><button id="delete_student_term_plan_course" type="button">Delete</button></td>
        </tr>
      </table>
    </section>

  </main>

</body>

</html>