<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms</title>

  {# Favicon #}
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" />
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}" />  
  <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}" />

  <script>
    document.addEventListener("DOMContentLoaded", function () {

      // //////// //
      // FUNCTION //
      // //////// //
      // Handle toggling page from viewing terms to adding a term and back
      //TODO uncomment line below for final submission 
      //document.getElementById("add_term_button").addEventListener("click", toggleTermForm);
      document.getElementById("cancel_add_term_button").addEventListener("click", toggleTermForm);
      function toggleTermForm() {
        const view_terms_section = document.getElementById("view_terms_section");
        const add_term_section = document.getElementById("add_term_section");

        if (view_terms_section.style.display === "block") {
          view_terms_section.style.display = "none";
          add_term_section.style.display = "block";

        } else {
          view_terms_section.style.display = "block";
          add_term_section.style.display = "none";
        }
      };

      // //////// //
      // FUNCTION //
      // //////// //
      // Handle add new term form submission
      document.getElementById("add_term_form").onsubmit = addTerm;

      async function addTerm(event) {
        // Prevent page from refreshing
        event.preventDefault();

        // Instantiate FormData object
        const formData = new FormData(event.target);
        // Initialize data object. This will be built below
        const data = {};

        // Iterate through each key value pair from formData
        formData.forEach((value, key) => {
          // Course ID array needs to be constructed
          if (key === "term_course_ids") {
            // Create empty term_course_ids array if not already included in data object
            if (!data[key]) {
              data[key] = [];
            }
            // Push course ID to term_course_ids array
            data[key].push(value);

            // All non-course keys can be pushed directly as separate data object properties
          } else {
            data[key] = value;
          }
        });
        // Logging to console for debugging purposes
        console.log(data);
      };
    });

  </script>

</head>

<body>

  <header>
    <h1>Terms</h1>
  </header>

  {# Navigation Bar #}
  <nav>
    <ul>
      <li><a href="/index">Index</a></li>
      <li><a href="/courses">Courses & Prerequisites</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/student-term-plans">Student Term Plans</a></li>
      <li><a href="/students">Students</a></li>
    </ul>
  </nav>

  <main>

    {# View All Terms Section #}
    <section id="view_terms_section" style="display: block;">
      <h3>View All Terms</h3>
      {# TODO uncomment this line for final submission <button id="add_term_button" type="button">Add New Term</button> #}
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
        {% for term in terms %}
        <tr>
          <td>{{ term["id"] }}</td>
          <td>{{ term["name"] }}</td>
          <td>{{ term["startDate"] }}</td>
          <td>{{ term["endDate"] }}</td>
        </tr>
        {% endfor %}
      </table>
    </section>

    {# Add New Term Section #}
    {# TODO uncomment this line and delete line below for final submission <section id="add_term_section" style="display: none;"> #}
    <hr><section id="add_term_section" style="display: block;">
      <h3>Add New Term</h3>
      <form id="add_term_form">
        {# Term Season #}
        <label for="term_season">Term Season</label><br>
        <select name="term_season" id="term_season" aria-label="Term Season" required>
          <option value="" disabled selected>Select season</option>
          <option value="Winter">Winter</option>
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Fall">Fall</option>
        </select><br>
        {# Term Year #}
        <label for="term_year">Term Year</label><br>
        <select name="term_year" id="term_year" aria-label="Term Year" required>
          <option value="" disabled selected>Select year</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2027">2028</option>
          <option value="2027">2029</option>
          <option value="2027">2030</option>
        </select><br>
        {# Term Start Date #}
        <label for="term_start_date">Start Date</label><br>
        <input type="date" id="term_start_date" name="term_start_date" min="2024-01-01" max="2030-12-31" /><br>

        <label for="term_end_date">End Date</label><br>
        <input type="date" id="term_end_date" name="term_end_date" min="2024-01-01" max="2030-12-31" /><br>

        {# Courses #}
        <p>Courses</p>
        {% for course in courses %}
        <label>
          <input type="checkbox" name="term_course_ids" value={{ course["id"] }}> {{ course["course"] }}
        </label><br>
        {% endfor %}

        {# Submit and Cancel Buttons #}
        <button id="submit_add_term_button" type="submit">Submit</button><br>
        <button id="cancel_add_term_button" type="button">Cancel</button>
      </form>
    </section>

  </main>

</body>

</html>