<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms</title>
</head>
<body>

  <header>
    <h1>Terms</h1>
  </header>

  <main>
    <p><a href="/index">Back to index</a></p>

    <section>
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
        {% for term in terms %}
          <tr>
            <td>{{ term["termID"] }}</td>
            <td>{{ term["name"] }}</td>
            <td>{{ term["startDate"] }}</td>
            <td>{{ term["endDate"] }}</td>
          </tr>
        {% endfor %}
      </table>
    </section>
  
  </main>

</body>
</html>